@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    padding: 0px;
    margin: 0px;
}


.logo {
    margin: 0;
    font-weight: 700;
    font-size: 1.45em;
    text-align: center;
}

.logo img {
    margin-top: 5px;
    height: 2em;
}

.top-nav {
    list-style: none;
    color: black;
    background-color: rgba(255, 255, 255, 1)
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
}

.top-nav ul a {
    display: block;
}

nav ul a:hover {
    text-decoration-line: underline;
    text-underline-offset: 7px;
    text-decoration-color: rgba(0, 0, 0, 0.5)
}

/* Bread crumb navigation */

.breadcrumb {
    margin-top: 25px;
}

.breadcrumb a {
    text-transform: none;
    color: grey;
}

nav ul li a.current {
    font-weight: bold;
    color: black;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    color: grey;
    content: "/";
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {}

body {
    margin: 0;
    padding: 0;
}

/* Code adapted from: https://www.developerdrive.com/full-page-hero-image-html-css/ */
.hero {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/kyoto/kyoto_temple.jpg);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    /* Used bennett's CSS clip-path maker: https://bennettfeely.com/clippy/ */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 75%;
    filter: brightness(60%);
    z-index: 1;
    transition: border-radius 0.5s ease-in-out, clip-path 0.5s ease-in-out;
}

.hero-content {
    z-index: 2;
    position: relative;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
}

.half-hero-title {
    font-size: 5em;
    position: absolute;
    bottom: 2.5vh;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.half-hero img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    background-position: 100% 75%;
    filter: brightness(60%);
}

.half-hero {
    display: block;
}

.hero-title {
    z-index: 2;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 1rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}

.fa.fa-angle-down {
    position: absolute;
    top: 200px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 2em;
    animation: bounce 1.5s ease infinite;
}

.fa.fa-home {
    font-size: 1.25em;
}

/* Used the clip art tool here to create polygon bg: https://unused-css.com/tools/clip-path-generator */
/* Also animated the polygon background when you switch from small window to big window on PC
    for extra bells and whistles */
.polygon-background {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 300px;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 78% 100%, 11% 100%, 0 100%);
    background-color: #eff9ffdc;
    z-index: 0;
    transition: clip-path 0.5s ease-in-out;
    margin-top: 250px;
}

.container {
    margin-top: 250px;
    line-height: 3em;
    text-align: center;
    max-width: 85vw;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* Image CSS properties: */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

.flex-container a {
    display: flex;
    justify-content: center;
    position: relative;
}


.image-item-with-filter,
.image-item-no-filter {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.image-item-with-filter {
    filter: drop-shadow(0 0 0.5rem rgb(124, 124, 124)) brightness(70%);
}


.image-item-with-filter:hover {
    filter: drop-shadow(0 0 0 rgb(124, 124, 124)) opacity(90%) brightness(80%);
    animation: image-hover-transition 0.3s;
}

.image-item-with-filter-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #fff;
    pointer-events: none;
    font-weight: bold;
}

.wrap {
    flex-wrap: wrap;
}

/* Extra tools for text presentation */

h1 {
    margin-top: 200px;
    font-size: 2.5em;
}

h2 {
    margin-top: 100px;
}

p {
    margin-top: 50px;
    font-size: 1.25em;
}

footer {
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    /* Stack the social media icons below the © 2023 Timmy Ha */
    flex-direction: column;
}

/* CSS specification for contact me form for contact.html*/

.container-contact {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

form {
    display: flex;
    flex-direction: column;
}

#first-name,
#last-name,
#subject {
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
}

.name-fields {
    display: flex;
}

.name-fields input {
    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#subject,
#message {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #95c3ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a6cafa;
}


/* Footer */
footer .fa {
    font-size: 1.5em;
    letter-spacing: 1em;
    color: white;
}

footer p {
    margin-top: 0px;
}

.footer-icons {
    margin-top: 1em;
}

#blurb h1 {
    margin-top: 50px;
}

/* Phone screen size*/
@media (max-width: 800px) {
    .half-hero-title {
        font-size: 20vw;
    }

    .image-item-with-filter,
    .image-item-no-filter {
        width: 75vw;
        height: 250px;
        object-fit: cover;
    }

    .image-item-with-filter-text-overlay {
        font-size: 10vw;
    }
}


/* Tablet screen size*/
@media (min-width: 800px) {

    ul a {
        display: inline;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .logo img {
        padding-left: 50px;
    }

    nav li {
        display: block;
        height: 100%;
    }

    nav ul {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 50px;
    }

    .polygon-background {
        margin-top: 150px;
    }
}

/* Computer screen size */
@media (min-width: 1800px) {
    ul a {
        display: inline;
    }

    .hero {
        width: 100%;
        height: 100vh;
    }

    .hero::before {
        background: url(images/kyoto/kyoto_temple_cropped.png) no-repeat;
        background-size: cover;
        /* /* border-radius: 0 0 45% 45%; */
        /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 70%); */
    }

    .polygon-background {
        clip-path: polygon(0 0, 100% 0, 100% 74%, 77% 91%, 11% 100%, 0 86%);
        margin-top: 550px;
    }

    nav ul {
        gap: 100px;
    }


    .container {
        max-width: 1250px;
    }
}

/* Animations */

/* Add an animation for the drop-down arrow on index.html */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

/* Animation for hovering over image */
@keyframes image-hover-transition {
    0% {
        filter: drop-shadow(0 0 0.5rem rgb(124, 124, 124)) opacity(100%) brightness(70%);
    }

    100% {
        filter: drop-shadow(0 0 0 rgb(124, 124, 124)) opacity(90%) brightness(80%);
    }
}